WORKSAPCE_PATH = $(SRCROOT)
EXTERNAL_PATH = $(WORKSAPCE_PATH)/../external

IMOBILEDEVICE_VERSION = 1.4.0
IMOBILEDEVICE_GLUE_VERSION = 1.3.2
USBMUXD_VERSION = 2.1.1
PLIST_VERSION = 2.7.0
OPENSSL_VERSION = 3.6.0

HEADER_SEARCH_PATHS = $(inherited) $(WORKSAPCE_PATH) $(WORKSAPCE_PATH)/include $(WORKSAPCE_PATH)/include/ios-webkit-debug-proxy

// lib libimobiledevice
LIB_IMOBILEDEVICE_PATH = $(EXTERNAL_PATH)/libimobiledevice/$(IMOBILEDEVICE_VERSION)/$(ARCHS)
HEADER_SEARCH_PATHS = $(inherited) $(LIB_IMOBILEDEVICE_PATH)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(LIB_IMOBILEDEVICE_PATH)/lib
OTHER_LDFLAGS = $(inherited) -limobiledevice-1.0

// lib libusbmuxd
LIB_USBMUXD_PATH = $(EXTERNAL_PATH)/libusbmuxd/$(USBMUXD_VERSION)/$(ARCHS)
HEADER_SEARCH_PATHS = $(inherited) $(LIB_USBMUXD_PATH)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(LIB_USBMUXD_PATH)/lib
OTHER_LDFLAGS = $(inherited) -lusbmuxd-2.0

// lib libimobiledevice-glue
LIB_IMOBILEDEVICE_GLUE_PATH = $(EXTERNAL_PATH)/libimobiledevice-glue/$(IMOBILEDEVICE_GLUE_VERSION)/$(ARCHS)
HEADER_SEARCH_PATHS = $(inherited) $(LIB_IMOBILEDEVICE_GLUE_PATH)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(LIB_IMOBILEDEVICE_GLUE_PATH)/lib
OTHER_LDFLAGS = $(inherited) -limobiledevice-glue-1.0

// lib libplist
LIB_PLIST_PATH = $(EXTERNAL_PATH)/libplist/$(PLIST_VERSION)/$(ARCHS)
HEADER_SEARCH_PATHS = $(inherited) $(LIB_PLIST_PATH)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(LIB_PLIST_PATH)/lib
OTHER_LDFLAGS = $(inherited) -lplist-2.0

// lib openssl
LIB_OPENSSL_PATH = $(EXTERNAL_PATH)/openssl@3/$(OPENSSL_VERSION)/$(ARCHS)
HEADER_SEARCH_PATHS = $(inherited) $(LIB_OPENSSL_PATH)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(LIB_OPENSSL_PATH)/lib
OTHER_LDFLAGS = $(inherited) -lcrypto -lssl
